// Fonts
$bodyFont  : 'Open Sans';
$captionFont : 'Open Sans' 600 italic;

// Font Sizing
$bodyFontSize      : 16px;
$baseLineHeight    : 1.5;
$headingLineHeight : 1.2;

// Colors
$black : rgb(1, 1, 1);
$red   : #d52b1e;
$blue  : #00a1de;

// Spacing
$pad : 1rem;

// Breakpoints
$smallBreakpoint : 600px;
$largeBreakpoint : 1080px;