//header

#VR-tour-header {
  color: $white;
  background-color: $black;
  width: 100%;
  height: 70px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  #link {
    font-size: 3rem;
    padding-left: 2rem;
    position: absolute;
    a {
      img {
        max-width: 24px;
        height: auto;
      }
    }
  }
  #title {
    width: 100%;
    font-size: 2.4rem;
    text-align: center;
    h2 {
      display: inline;
      font-family: $headerFont;
      font-weight: 100;
    }
  }
}

//video pages

#vid-wrapper {
  height: 100vh;
  background-color: $black;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  padding-top: 2rem;
  max-width: 1700px;
  .contentContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 2rem;
    }
  }
  .textContainer{
    text-align: left;
    line-height: 1.4;
    padding: 2rem;
    font-family: $bodyFont;
    font-size: 1.8rem;
    color: $white;
    font-style: italic;
  }
}

// gallery pages