.hero {
  .hero-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-height: 700px;
    @include for-tablet-landscape-up {
      max-height: 800px;
    }
  }
  .desktop-hero {
    @include for-tablet-portrait-up {
      display: block;
    }
    background: url(/images/music-hall-hero-background.jpg) no-repeat center
      center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
    img {
      width: 250px;
      height: auto;
      @include for-tablet-landscape-up {
        width: 400px;
        height: auto;
      }
    }
    h1 {
      margin: 0;
      line-height: 6.5rem;
      max-width: 300px;
      color: white;
      font-family: $headerFont;
      font-size: 60px;
      padding-right: 3rem;
      padding-left: 3rem;
      @include for-tablet-landscape-up {
        line-height: 9rem;
        font-size: 80px;
        max-width: 400px;
        padding-right: 3rem;
        padding-left: 3rem;
      }
    }
    @include for-tablet-landscape-up {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    display: none;
  }
  .mobile-hero {
    background-image: url(/images/mobile-hero-800px.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 550px;
    text-align: center;
    @include for-tablet-portrait-up {
      display: none;
    }
    img {
      max-width: 400px;
      height: auto;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    h1 {
      color: white;
      font-family: $headerFont;
      font-size: 46px;
      padding-right: 3rem;
      padding-left: 3rem;
    }
  }
}

.home-page {
  font-family: $bodyFont;
  color: $black;
  .home-tile {
    .tile-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      @include for-desktop-up {
        margin-top: 13rem;
        margin-bottom: 5rem;
      }
      @include for-tablet-landscape-up {
        margin-top: 8rem;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
      }
      align-items: center;
      .desktop-h2 {
        display: none;
        @include for-tablet-landscape-up {
          display: block;
          padding-bottom: 2.4rem;
          font-size: 4rem;
          font-weight: 400;
        }
      }
      .mobile-h2-wrapper {
        display: flex;
        
      }
      .mobile-h2 {
        text-align: left;
        display: block;
        padding-left: 1.6rem;
        padding-top: 4.8rem;
        padding-bottom: 2.4rem;
        font-size: 4rem;
        font-weight: 400;

        @include for-tablet-landscape-up {
          display: none;
        }
      }
      img {
        max-width: 574px;
        height: auto;
        padding: 0 1.6rem 0 1.6rem;
      }
      .mobile-home-img {
        display: block;
        @include for-tablet-landscape-up {
          display: none;
        }
      }

      .desktop-home-img {
        display: none;
        @include for-tablet-landscape-up {
          display: block;
        }
      }
      .paragraph {
        @include for-desktop-up {
          min-width: 574px;
        }
        @include for-tablet-landscape-up {
          max-width: 300px;
        }
        max-width: 574px;
        height: auto;
        padding: 2.8rem 1.6rem 1.6rem 1.6rem;
        p {
          font-size: 2rem;
          line-height: 2.8rem;
        }
        button {
          margin: 1.6rem 0 1.6rem 0;
          min-width: 150px;
          min-height: 40px;
          font-size: 1.6rem;
          font-weight: 600;
          text-transform: uppercase;
          color: white;
          border: none;
          border-radius: 5px;
          background-color: $dark-green;
        }
      }
    }
  }
}
