.explore-thumbnails {
  max-width: 1170px;
  margin: auto;
  padding-top: 6rem;
  h2 {
    font-family: $bodyFont;
    font-weight: 300;
    font-size: 2.8rem;
    padding: 1.6rem;
  }
  .scrollable{
    display: flex;
    flex-wrap: nowrap;
    margin: 4px, 4px;
    padding: 4px;
    overflow-x: auto;
    overflow-y: hidden;
    figure{
      margin: 1rem;
      position: relative;
      text-align: center;
      //color: white;
      border-radius: 10px;
      font-family: $bodyFont;
      font-size: 1.6rem;
      img {
        min-width: 170px;
        border-radius: 10px;
      }
      figcaption {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        text-decoration: underline;
      }
    }
  }
}


.content-wrapper {

  .content {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    h2 {
      font-family: $bodyFont;
    font-weight: 300;
    font-size: 2.8rem;
    padding: 1.6rem;
    }
      p {
        padding: 1.6rem 1.6rem 0 1.6rem;
        font-family: $bodyFont;
        font-size: 2rem;
        line-height: 2.8rem;
      }
  }
}