/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html *,
body * {
  box-sizing: inherit;
}

/*
This file is used to contain all vendor imports.
*/
/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating
to a reusable component.
*/
.container {
  display: block;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1080px;
}

/*
This file is used to contain all layout imports.
Files inside this folder should contain all styles relating
to layouts.
*/
header {
  width: 100%;
  margin: auto;
  font-family: "Open Sans";
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  color: #F5E0B1;
  font-weight: 600;
  height: 6rem;
}
header .material-symbols-rounded {
  font-size: 40px;
  position: fixed;
  right: 30px;
  top: 10px;
  display: block;
}
@media (min-width: 600px) {
  header .material-symbols-rounded {
    display: none;
  }
}
header .logo {
  margin-left: 2rem;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #F5E0B1;
  display: inline;
}
header nav ul.show {
  display: block;
}
header .sidenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: #212121;
  transform: translateX(102%);
  transition: transform 0.35s ease;
  z-index: 10;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);
}
@media (min-width: 600px) {
  header .sidenav {
    display: none;
  }
}
header .sidenav.open {
  overflow: auto;
  transform: translateX(0rem);
}
header ul {
  margin: 6rem 0 0;
}
header ul li a {
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  transition: transform 0.35s ease;
}

#desktop-nav {
  display: none;
}
@media (min-width: 600px) {
  #desktop-nav {
    display: block;
  }
}
#desktop-nav ul {
  display: flex;
  font-size: 1.8rem;
}
#desktop-nav li {
  padding-right: 4rem;
}/*# sourceMappingURL=styles.css.map */