/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, iframe {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html *,
body * {
  box-sizing: inherit;
}

main {
  max-width: 1170px;
  margin: auto;
}

/*
This file is used to contain all vendor imports.
*/
/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating
to a reusable component.
*/
/*
This file is used to contain all layout imports.
Files inside this folder should contain all styles relating
to layouts.
*/
header {
  width: 100%;
  margin: auto;
  font-family: "Open Sans";
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  color: #F5E0B1;
  font-weight: 600;
  height: 6rem;
}
header .material-symbols-rounded {
  font-size: 40px;
  padding-right: 30px;
  top: 10px;
  display: block;
}
@media (min-width: 600px) {
  header .material-symbols-rounded {
    display: none;
  }
}
header .logo {
  margin-left: 2rem;
  max-width: 45px;
  max-height: Auto;
  border-radius: 50%;
}
header nav ul.show {
  display: block;
}
header .sidenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: #212121;
  transform: translateX(102%);
  transition: transform 0.35s ease;
  z-index: 10;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);
}
@media (min-width: 600px) {
  header .sidenav {
    display: none;
  }
}
header .sidenav.open {
  overflow: auto;
  transform: translateX(0rem);
}
header ul {
  margin: 6rem 0 0;
  font-size: 1.8rem;
}
header ul li {
  padding: 2rem;
}
header ul li a {
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  transition: transform 0.35s ease;
}
header #desktop-nav {
  display: none;
}
@media (min-width: 600px) {
  header #desktop-nav {
    display: block;
  }
}
header #desktop-nav ul {
  display: flex;
  font-size: 1.8rem;
  margin: 0;
}
header #desktop-nav li {
  padding-right: 4rem;
}

.hero .hero-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-height: 700px;
}
@media (min-width: 900px) {
  .hero .hero-wrapper {
    max-height: 800px;
  }
}
.hero .desktop-hero {
  background: url(/images/dance-hall_hero-background-blank.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: none;
}
@media (min-width: 600px) {
  .hero .desktop-hero {
    display: block;
  }
}
.hero .desktop-hero img {
  width: 250px;
  height: auto;
}
@media (min-width: 900px) {
  .hero .desktop-hero img {
    width: 400px;
    height: auto;
  }
}
.hero .desktop-hero h1 {
  margin: 0;
  line-height: 6.5rem;
  max-width: 300px;
  color: white;
  font-family: "Yeseva One", cursive;
  font-size: 60px;
  padding-right: 3rem;
  padding-left: 3rem;
}
@media (min-width: 900px) {
  .hero .desktop-hero h1 {
    line-height: 9rem;
    font-size: 80px;
    max-width: 400px;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
@media (min-width: 900px) {
  .hero .desktop-hero {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.hero .mobile-hero {
  background-image: url(/images/dance-hall-mobile-background.jpg);
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 550px;
  text-align: center;
}
@media (min-width: 600px) {
  .hero .mobile-hero {
    display: none;
  }
}
.hero .mobile-hero img {
  max-width: 400px;
  height: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.hero .mobile-hero h1 {
  color: white;
  font-family: "Yeseva One", cursive;
  font-size: 46px;
  padding-right: 3rem;
  padding-left: 3rem;
}

.home-page {
  font-family: "Open Sans";
  color: #212121;
  margin-bottom: 6.4rem;
}
.home-page .home-tile {
  max-width: 650px;
  height: auto;
  margin: auto;
}
@media (min-width: 900px) {
  .home-page .home-tile {
    max-width: 1200px;
    height: auto;
  }
}
.home-page .home-tile .tile-wrapper {
  box-shadow: 1px 1px 10px rgba(27, 27, 27, 0.2);
  padding: 1.6rem 0rem 1.6rem 0rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4.8rem 2rem 0rem 2rem;
}
@media (min-width: 900px) {
  .home-page .home-tile .tile-wrapper {
    padding: 2.4rem 0rem 2.4rem 0rem;
    max-width: 930px;
    height: auto;
    margin: auto;
    box-shadow: 1px 1px 16px rgba(27, 27, 27, 0.2);
    margin-top: 8rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.home-page .home-tile .tile-wrapper .desktop-h2 {
  display: none;
}
@media (min-width: 900px) {
  .home-page .home-tile .tile-wrapper .desktop-h2 {
    display: block;
    padding-bottom: 2.4rem;
    font-size: 4rem;
    font-weight: 400;
  }
}
.home-page .home-tile .tile-wrapper .mobile-h2-wrapper {
  display: flex;
}
.home-page .home-tile .tile-wrapper .mobile-h2 {
  text-align: left;
  display: block;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 3.6rem;
  padding-bottom: 2.4rem;
  font-size: 4rem;
  font-weight: 400;
}
@media (min-width: 900px) {
  .home-page .home-tile .tile-wrapper .mobile-h2 {
    display: none;
  }
}
.home-page .home-tile .tile-wrapper img {
  max-width: 574px;
  height: auto;
  padding: 0 1.6rem 0 1.6rem;
}
.home-page .home-tile .tile-wrapper .mobile-home-img {
  display: block;
}
@media (min-width: 900px) {
  .home-page .home-tile .tile-wrapper .mobile-home-img {
    display: none;
  }
}
.home-page .home-tile .tile-wrapper .desktop-home-img {
  display: none;
}
@media (min-width: 900px) {
  .home-page .home-tile .tile-wrapper .desktop-home-img {
    display: block;
  }
}
.home-page .home-tile .tile-wrapper .paragraph {
  max-width: 574px;
  height: auto;
  padding: 1.6rem;
}
@media (min-width: 900px) {
  .home-page .home-tile .tile-wrapper .paragraph {
    max-width: 300px;
    padding: 0.8rem;
  }
}
.home-page .home-tile .tile-wrapper .paragraph p {
  font-size: 2rem;
  line-height: 2.8rem;
}
.home-page .home-tile .tile-wrapper .paragraph button {
  margin: 1.6rem 0 1.6rem 0;
  min-width: 150px;
  min-height: 40px;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #356D5B;
}

footer {
  height: 60px;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer p {
  color: #f0f0f0;
  font-size: 1.6rem;
  font-family: "Open Sans";
}

.Model-Hero {
  margin-top: 1.6rem;
  font-family: "Open Sans";
}
.Model-Hero model-viewer {
  max-width: 500px;
  margin: auto;
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
.Model-Hero .modelViewer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.Model-Hero .modelViewer button.arButton {
  color: #f0f0f0;
  border: none;
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 20px;
  background-color: #212121;
}
.Model-Hero .modelViewer .hall-title {
  font-size: 4rem;
  padding: 2rem;
  color: #f0f0f0;
  background-color: #212121;
  width: 100%;
}
.Model-Hero .modelViewer .hall-title h1 {
  max-width: 1170px;
  margin: auto;
}
.Model-Hero .modelViewer div.arButton {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Model-Hero .modelViewer div.arButton p {
  font-family: "Open Sans";
  margin: 0.1rem 0.2rem 0.2rem 0.2rem;
}
.Model-Hero h1 {
  padding-left: 1.6rem;
}

.hero .image-hero-hamilton {
  background: url("/images/hamiltons-header-image.jpg") no-repeat center center;
  background-size: 120% auto;
  height: 200px;
}
@media (min-width: 600px) {
  .hero .image-hero-hamilton {
    height: 300px;
  }
}
.hero .image-hero {
  background: url("/images/la-poussiere-header-imge.jpg") no-repeat center center;
  background-size: 120% auto;
  height: 200px;
}
@media (min-width: 600px) {
  .hero .image-hero {
    height: 300px;
  }
}
.hero .hall-title {
  font-size: 4rem;
  padding: 2rem;
  color: #f0f0f0;
  background-color: #212121;
  width: 100%;
}
.hero .hall-title h1 {
  max-width: 1170px;
  margin: auto;
}

.explore-thumbnails {
  max-width: 1170px;
  margin: auto;
  padding-top: 3.6rem;
}
.explore-thumbnails h2 {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 2.8rem;
  padding: 1.6rem;
}
.explore-thumbnails .scrollable {
  display: flex;
  flex-wrap: nowrap;
  margin: 4px, 4px;
  padding: 4px;
  overflow-x: auto;
  overflow-y: hidden;
}
@media (min-width: 600px) {
  .explore-thumbnails .scrollable {
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .explore-thumbnails .scrollable {
    justify-content: space-between;
  }
}
.explore-thumbnails .scrollable figure {
  margin: 1rem;
  position: relative;
  text-align: center;
  border-radius: 10px;
  font-family: "Open Sans";
  font-size: 18px;
  color: #f0f0f0;
  font-weight: 1000;
}
.explore-thumbnails .scrollable figure .img-scrim {
  height: 250px;
  border-radius: 10px;
  background: linear-gradient(rgba(27, 27, 27, 0.8), rgb(27, 27, 27));
}
.explore-thumbnails .scrollable figure img {
  opacity: 0.5;
  width: auto;
  height: 250px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(27, 27, 27, 0.3);
}
@media (min-width: 900px) {
  .explore-thumbnails .scrollable figure .img-small {
    display: none;
  }
}
.explore-thumbnails .scrollable figure .img-large {
  display: none;
}
@media (min-width: 900px) {
  .explore-thumbnails .scrollable figure .img-large {
    display: block;
  }
}
@media (min-width: 1200px) {
  .explore-thumbnails .scrollable figure .img-large {
    display: none;
  }
}
.explore-thumbnails .scrollable figure .img-xl {
  display: none;
}
@media (min-width: 900px) {
  .explore-thumbnails .scrollable figure .img-xl {
    display: none;
  }
}
@media (min-width: 1200px) {
  .explore-thumbnails .scrollable figure .img-xl {
    display: block;
  }
}
.explore-thumbnails .scrollable figure figcaption {
  position: absolute;
  bottom: 1.8rem;
  left: 1.8rem;
}
@media (min-width: 900px) {
  .explore-thumbnails .scrollable figure figcaption {
    font-size: 2.4rem;
  }
}

.content-wrapper {
  margin-bottom: 6.4rem;
}
.content-wrapper .content {
  display: flex;
  flex-direction: column;
  padding-top: 3.6rem;
}
.content-wrapper .content h2 {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 2.8rem;
  padding: 1.6rem;
  line-height: 1.2;
}
.content-wrapper .content p {
  padding: 1.6rem 1.6rem 0rem 1.6rem;
  font-family: "Open Sans";
  font-size: 2rem;
  line-height: 2.8rem;
}

#VR-tour-header {
  color: #f0f0f0;
  background-color: #212121;
  width: 100%;
  height: 70px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
#VR-tour-header #link {
  font-size: 3rem;
  padding-left: 2rem;
  position: absolute;
}
#VR-tour-header #link a img {
  max-width: 24px;
  height: auto;
}
#VR-tour-header #title {
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
}
#VR-tour-header #title h2 {
  display: inline;
  font-family: "Yeseva One", cursive;
  font-weight: 100;
}
@media (max-width: 599px) {
  #VR-tour-header #title {
    font-size: 1.8rem;
  }
}

#vid-wrapper {
  height: 100vh;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 1700px;
}
#vid-wrapper .contentContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
#vid-wrapper .contentContainer .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 2rem 0 2rem;
}
#vid-wrapper .textContainer {
  text-align: left;
  line-height: 1.4;
  padding: 2rem;
  font-family: "Open Sans";
  font-size: 1.8rem;
  color: #f0f0f0;
  font-style: italic;
}

.gallery-container {
  position: relative;
  overflow-x: hidden;
}
.gallery-container .gallery-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.gallery-container .gallery-wrapper img {
  flex-shrink: 0;
  width: 100%;
  height: auto;
}
.gallery-container .scroll-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gallery-container .scroll-buttons button {
  height: 80px;
  width: auto;
  font-size: 8rem;
  background-color: transparent;
  border: none;
  color: #fff;
}
.gallery-container .scroll-buttons button:focus {
  outline: none;
}
.gallery-container .gallery-wrapper::-webkit-scrollbar {
  display: none;
}
.gallery-container .gallery-wrapper > * {
  flex-shrink: 0;
  scroll-snap-align: center;
}

.gallery-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */